html,
body {
  height: 100%;
  background-color: #FEC7D7;
  color: #0E172C;
  font-family: "karla",sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  /* The html and body elements cannot have any padding or margin. */
}

/* Flexbox */
.flex {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.container {
  margin: 20px;
}

.floating {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.word-data{
  color: #fec7d7;

}


/* Widget */
.widget {
  background-color: #D9D4E7;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: #0E172C;
  border-radius: 10px;
}

/* Error widget */
.error {
  background-color: #FF7878;
}

/* Warning widget */
.warning {
  background-color: #FFE67B;
}

/* Success widget */
.success {
  background-color: #87DD87;
}

/* Status widget */
.status {
  background-color: #BF9AFF;
}

.wastewater-status{
  width: 12rem;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {

}
