html,
body {
  height: 100%;
  background-color: #FEC7D7;
  color: #0E172C;
  font-family: "karla",sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

/* Flexbox */
.container {
  display: flex; /* or inline-flex */
}

.page-header{
  margin: 20px;
}

h1{
  font-style: 500;
}

/* Widget */
.widget {
  background-color: #D9D4E7;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: #0E172C;
  border-radius: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {

}
